
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: var(--font-cormorant_garamond), serif;
  background-color: #e0e0ff; /* Light mode background color */
}

body.dark-mode {
  background-color: #e0e0ff; /* Dark mode background color */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-arimo), sans-serif;
}